<br><br><br>
<form >
  Amount:
  <input type="text" name="amount" placeholder="amount" ><br><br>
  Status:&nbsp;&nbsp;
  <input type="text" name="status" placeholder="status"><br>  <br>
  Date: &nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" name="day" placeholder="how many day"><br><br>
  Description:<br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<textarea rows="4" cols="50" name="description" form="description">
</textarea><br><br>
<button type="button" id="btn-borrow-book">Request</button>
	<div id="dialog">Yeu cau muon sach cua ban 
da duoc gui thanh cong </div>
</form>
<br>
</form>